/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:cursive
}

marquee{
    color: chartreuse;
}

.box{
    padding:  10px 10px;
    background-color: rgb(255, 193, 193);
}
.box h5{
    font-size: 15px;
    font-weight: bold;
}